body {
    padding: 15px;
}

a {
    display: block;
}

.card {
    width: 300px;
    float: left;
    margin-right: 10px;
}

.new-game .card,
.scores .card {
    width: 48%;
    margin-top: 10px;
    float: unset;
}

h1 a {
    float: right;
    font-size: medium;
}
