body {
    padding: 15px;
}

a {
    display: block;
}

p {
    margin: 0;
}

small {
    font-size: 0.8em;
}

.cards-container {
    display: grid;
    width: 100%;
    column-gap: 10px;
}
@media only screen and (min-width: 1200px) {
    .cards-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .cards-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 767px) {
    .cards-container {
        grid-template-columns: repeat(1, 1fr);
    }
}


.new-game .card,
.scores .card {
    width: 48%;
    margin-top: 10px;
    float: unset;
}

h1 a {
    float: right;
    font-size: medium;
}

.card-name {
    font-weight: bold;
}

.card-team {
    color: gray;
}

.card-played-count {
    font-style: italic;
}
